@model Beezilla.Models.HiveModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HiveModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiveType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiveType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propolis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propolis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiveImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiveImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueenCells)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueenCells)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiveStrength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiveStrength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SwarmPotential)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SwarmPotential)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
