@model IEnumerable<Beezilla.Models.HiveModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Hives</h1>
<style>
    img {
        border: 1px solid #ddd; 
        border-radius: 4px; 
        padding: 5px; 
        width: 150px; 
    }

        
        img:hover {
            
            box-shadow: 0 0 2px 1px rgb(255, 216, 0);
        }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                List of hives
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelitem => item.HiveImageUrl)" />
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="QueenModels" asp-action="Index" asp-route-id="@item.Id">Queens</a>
            </td>
        </tr>
}
    </tbody>
</table>
