@model Beezilla.Models.KeeperModel

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>
<table class="table">

    <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.HiveCount)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>                    
            <td>                     
                @Html.DisplayFor(model => model.HiveCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
                <a asp-controller="HiveModels" asp-action="Index" asp-route-id="@Model.Id">Hives</a>
            </td>
        </tr>
    </tbody>
    @*<tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HiveCount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-controller="HiveModels" asp-action="Index" asp-route-id="@item.Id">Hives</a>
                    </td>
                </tr>
        }
            </tbody>*@
</table>
